* {
  box-sizing: border-box;
}

.ant-menu-item,
.ant-menu-submenu-title {
  height: 45px !important;
  margin-block: 3px !important;
}

.ant-menu-sub {
  padding-inline: 25px !important;
}

:where(.css-dev-only-do-not-override-1atsavp) .ant-menu-light.ant-menu-inline .ant-menu-sub.ant-menu-inline,
:where(.css-dev-only-do-not-override-1atsavp)
  .ant-menu-light
  > .ant-menu.ant-menu-inline
  .ant-menu-sub.ant-menu-inline {
  background: none !important;
}
